.heading {
    color:green;
}
.img{
    width: 480px;
    height: 480px;
    margin: 10px;
}
.imgCard{
    margin: 10px;
    width: 500px;
    border: 1px solid violet;
    box-shadow: 1px 1px 3px 1px #ddd;
}
.textWrap{
    margin: 50px;
    color: violet;
}